<ion-content padding class="app-background-colour">

  <div *ngFor="let item of journalGroup">
    <p style="margin-left: 50px;">{{ item.title }}</p>

    <div style="box-shadow: 0px 3px 3px #ccd;">
      <button ion-item no-lines *ngFor="let journal of item.journalList" (click)="onViewJournal(journal)">

        <div class="journal-img-body" item-start>
          <p class="journal-img-content">{{ extractFirstLetter(journal.title) }}</p>
        </div>

        <div>
          <p style="display: inline-block; margin-left: 10px; width: 230px;"><b>{{ journal.title }}</b></p>
          <p style="display: inline-block;">{{ journal.preamble }}</p>
        </div>

      </button>
    </div>
    <br/>
  </div>

  <ion-fab bottom right #fab *ngIf="labelModel != null" >
    <button ion-fab (click)="onCreateJournal()">
      <ion-icon name="create"></ion-icon>
    </button>
  </ion-fab>
</ion-content>


