page-journal {

  .journal-img-body {
    width: 28px;
    border-radius: 50%;
    background-color: #FF1744;
  }

  .journal-img-content {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
  }
}
