page-home {
  ion-row, ion-grid {
    height: 100%;
  }

  .label-selected-colour {
    font-weight: bold;
    background-color: rgb(223, 219, 219);
  }

  button.item.item-block.item-md:hover {
    .label-settings-icon {
      display: block;
    }
  }

  .label-settings-icon {
    display: none;
  }
}
